
<div class="jumbotron">
    <h1>Ozzle</h1>
    <p class="lead">About  Ozzle  there</p>
    <p><a href="#" class="btn btn-primary btn-lg">How It Works &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get started text here
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>second</h2>
        <p>something more there</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>finally</h2>
        <p>finaly  text there</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>